body{
    background-color: blanchedalmond;
    
}
.gallery img{
    width: 100%;
    height: 18%;
}
#menu{
    width: 100%;
    height: 40px;
    background-color: palevioletred;
    padding-top: 12px;
 
}
#menu a{
    color: blue;
    font-family: helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800px;
    text-align: right;
    box-shadow: 0 12px 15px;
    border-radius: 50%;
    padding-left: 18px;
    padding-right: 18px;
}
#menu a:hover{
    color: darkblue;
  
}
#menu h1{
    width: 100%;
    height: 40px;
    text-align: center
    padding-top: 12px;
    text-align: center;
}

#menu h1{
    width: 100%;
    height: 40px;
    background-color: palevioletred;
    padding-top: 12px;
    text-align: center;
}

#menu h1{
    width: 100%;
    height: 40px;
    background-color: palevioletred;
    padding-top: 12px;
    text-align: center;
}

#menu h1{
    text-align: center;
}

#footer{
    text-align: right;
}